<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>25981611197-i06i26qsh4alap3nr2oo5vob1os0mfgd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.25981611197-i06i26qsh4alap3nr2oo5vob1os0mfgd</string>
	<key>API_KEY</key>
	<string>AIzaSyDaD4a6svIU_2bIt5ddk_VinYERvKG-mcI</string>
	<key>GCM_SENDER_ID</key>
	<string>25981611197</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.youngApps.uber</string>
	<key>PROJECT_ID</key>
	<string>link-ridesharing</string>
	<key>STORAGE_BUCKET</key>
	<string>link-ridesharing.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:25981611197:ios:774236cab0dde510</string>
	<key>DATABASE_URL</key>
	<string>https://link-ridesharing.firebaseio.com</string>
</dict>
</plist>